<ion-header>
  <div class="p-4 text-3xl font-bold shadow-md w-full">
    <div>Angular Todo List</div>
  </div>
</ion-header>
<!-- 모바일 버전에서 header와 footer를 제외한 가운데부분 -->
<ion-content>
  <div class="mt-10 flex justify-center w-full text-gray-700">
    <div
      class="rounded-lg p-6 w-[70%] px-0 border-2 border-gray-200 bg-orange-300"
    >
      <div class="flex justify-center text-4xl pb-4 shadow-md text-white">
        TODO List
      </div>
      <div class="bg-white p-6">
        <app-todo-create [todoList]="todoList"></app-todo-create>
        <div class="h-0.5 bg-gray-300 w-full my-6"></div>
        <ng-container *ngFor="let todo of todoList; index as i">
          <app-todo-item [todoList]="todoList" [todo]="todo"></app-todo-item>
        </ng-container>

        <div
          class="text-lg text-gray-300 w-full text-center"
          *ngIf="todoList.length === 0"
        >
          입력된 할 일이 없습니다.
        </div>
      </div>
    </div>
  </div>
</ion-content>
