<div class="flex mt-10 space-x-[100px] container mx-auto text-gray-700">
  <div class="flex-1 p-5 max-w-[200px] space-y-3">
    <div class="text-gray-800 font-bold">태그 목록</div>
    <div class="h-px bg-gray-100 w-full"></div>
    <div class="font-bold cursor-pointer">전체보기<span>(0)</span></div>
  </div>
  <div class="flex-1 p-5 w-full">
    <div class="flex flex-col border-b border-gray-100 pb-4">
      <div class="text-2xl font-bold mb-3">제목</div>
      <div class="text-lg mb-6">내용</div>
      <div
        class="rounded-full bg-gray-300 w-max px-1.5 py-1 mb-3 cursor-pointer"
      >
        태그
      </div>
      <div class="text-sm">작성일자</div>
    </div>
  </div>
</div>
>
