/* font */

@font-face {
  font-family: "MICEGothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "MICEGothic";
}

.header {
  display: flex;
}

.login_form,
.todo_header,
.greeting,
.todo_main,
.prev_next_month {
  padding: 1rem 1.3rem 1rem 1.3rem;
}

.login_header,
.calender {
  width: 350px;
}

.todo_header {
  align-self: center;
  font-weight: bold;
  font-size: x-large;
}

.login_input,
.login_button,
.todo_form > input,
li > button,
.todo_item > input {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.greeting {
  font-size: large;
}

.login_input,
.todo_form > input {
  border: 2px solid #e1e1e1;
  padding: 4px;
}

.login_input:focus {
  border: 2px solid #e1e1e1;
  padding: 4px;
}

.login_button {
  transition: all 0.3s ease;
  background-color: black;
  color: white;
  padding: 5px;
  font-weight: bold;
}

.login_button:hover {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  cursor: pointer;
}

.todo_main,
.calender {
  margin-top: 10px;
}

.todo_form > input {
  padding-bottom: 0.5rem;
  width: 300px;
}

.todo_calender {
  display: flex;
}

.hidden {
  display: none;
}

.todo_item {
  padding: 3px;
  align-items: center;
}

.todo_item > input {
  /* background-color: antiquewhite; */
  border-bottom: 1px solid black;
  margin: 5px 0 5px 0;
  padding: 5px 0 0 0;
  font-size: large;
  width: 300px;
}

.todo_text {
  width: 270px;
}

.todo_list {
  width: 400px;
}

.todo_delete {
  justify-content: end;
}

.todo_check {
  border: 1px solid black;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  position: relative;
}

.todo_check > i {
  position: absolute;
  top: 0%;
  left: 0%;
}

.checked {
  color: red;
}

ul {
  padding-top: 5px;
}

li {
  display: flex;
}

li > div {
  padding: 0 5px 0 5px;
}

.days,
.week {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.yearMonth {
  font-weight: bold;
}

.week,
.days {
  justify-content: center;
}

.day {
  width: 14%;
  padding: 5px 0 5px 0;
}

.prev_next_month {
  display: flex;
  justify-content: space-between;
}

.arrow_month {
  display: flex;
  width: 50px;
  justify-content: space-between;
}

.today > span {
  border-radius: 50%;
  background-color: #f87171;
  color: white;
  display: inline-block;
  width: 60%;
}

.other {
  opacity: 0.5;
}
