* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.main {
  background-image: url("/cat2.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.hidden {
  display: none;
}

.todo_delete {
  outline: none;
  border: none;
}

.check_box {
  color: white;
  border: 1px solid black;
  width: 2%;
  display: inline-block;
}

.li {
  display: flex;
}
