<form [formGroup]="commentForm">
  <div class="p-4 pt-6 border-gray-100 border-t mx-4">
    <div class="justify-between flex w-full">
      <div>
        <div>{{ comment?.writer }}</div>
        <div class="text-gray-500 text-sm" *ngIf="!comment?.updatedAt">
          {{ comment?.createdAt }}
        </div>
        <div class="text-gray-500 text-sm" *ngIf="comment?.updatedAt">
          수정됨 {{ comment?.updatedAt }}
        </div>
      </div>
      <div class="flex text-sm space-x-2">
        <div
          class="cursor-pointer"
          *ngIf="!isUpdate"
          (click)="setUpdate(comment.content)"
        >
          수정
        </div>
        <div class="cursor-pointer" *ngIf="!isUpdate" (click)="commentDelete()">
          삭제
        </div>
      </div>
    </div>
    <div class="text-gray-700 pt-4" *ngIf="!isUpdate">
      {{ comment?.content }}
    </div>
    <textarea
      formControlName="content"
      *ngIf="isUpdate"
      [(ngModel)]="updateComment"
      (keyup.enter)="commentUpdate()"
      class="outline-none text-gray-700 resize-none border-gray-300 border w-full p-2"
    ></textarea>
  </div>
</form>

<!--       (keyup.enter)="updateHandler(comment?.seq)" -->
<!--       (keyup.enter)="commentUpdate()" -->
